body {
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #FFF;
  background-color: #222;
  width: 100%;
  margin: 0 auto;
}
main {
  width: 95%;
  margin: 0 auto;
}
i.fas { /*-- adds a little padding left and right on fontawesome icons --*/
  padding: 0 .33em;
}

/* Navbar style */
.navbar {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #CCC;
  color: #DDD;
  padding: 1em 4em;
  width: 100%;
}
@media screen and (min-width: 768px) {  /* For non mobile Nav */
  .navbar {display: flex; flex-direction: row; justify-content: space-between;}
}
a.nav-item {
  text-align: center;
  color: #555;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
a.nav-item:hover {
  color: #000;
  cursor: pointer;
}
.nav-item.trigram {
  display: none; /*-- hidden by default --*/
  text-decoration: none;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .navbar a, .navbar span {display: none;}
  .navbar a.trigram {display:inherit; position:absolute; right:6%; font-size:2em; margin-top: -.5em;}
  .navbar {padding: 1.75em 4em;}
}

@media screen and (max-width: 767px) {
  .navbar.responsive {align-items: center;}
  .navbar.responsive a, .navbar.responsive span {display:inherit;}
  .navbar.responsive a:not(:last-child) {padding-bottom: .5em;}
}

/* Slideshow style */
.indicator {
  cursor:pointer; /*-- changes hover cursor to the hand --*/
  height: auto; /*-- sets height of pics --*/
  width: 24%; /*-- sets width of pics --*/
  margin: 0 2px; /*-- adds margin between pics --*/
  background-color: #bbb; /*-- sets background color to light gray --*/
  display: inline-block; /*-- displays in a horizontal line --*/
  transition: all 250ms ease-in-out; /*-- allows opacity change to take time --*/
  opacity: .5;
}
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}
@media only screen and (max-width: 767px) {
  .slideshow {display: none;}
}

/* Navbar style */
.main-grid {
  margin-top: 3.5rem; /*-- adds space above grid wrap --*/
  display: grid; /*-- sets display mode --*/
  grid-gap: 1.5rem; /*-- creates gutters --*/
  grid-template-columns: 1fr; /*-- default mobile layout is 1-column--*/
}
@media screen and (min-width: 550px) { /*-- at screens between 550 and 767 --*/
  .main-grid {grid-template-columns: repeat(2, 1fr);}  /*-- 2 columnns --*/
}
@media screen and (min-width: 768px) {/*-- at screens between 768 and 989 --*/
  .main-grid {grid-template-columns: repeat(3, 1fr);} /*-- 3 columnns --*/
}
@media screen and (min-width: 990px) {/*-- at screens between 990 and 1271 --*/
  .main-grid {grid-template-columns: repeat(4, 1fr);} /*-- 4 columnns --*/
}
@media screen and (min-width: 1280px) {/*-- at screens 1280 and above --*/
  .main-grid {grid-template-columns: repeat(4, 1fr);} /*-- 4 columnns --*/
}

.modal {
   display: none;/*-- hidden by default --*/
 }
